.infoIcon {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.areYouSure {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-dm-sans);
}
.text,
.thisWillBe {
  flex: 1;
  position: relative;
}
.thisWillBe {
  align-self: stretch;
  font-size: var(--text-sm-medium-size);
  line-height: 21px;
  display: flex;
  align-items: center;
}
.text {
  line-height: 24px;
  font-weight: 500;
}
.buttoncancel,
.buttongotit {
  flex: 1;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-xl);
}
.buttoncancel {
  background-color: var(--white);
  box-shadow: 4px 4px 10px rgba(2, 2, 70, 0.04);
  border: 1px solid var(--gray-300);
}
.buttongotit {
  background: linear-gradient(142.18deg, #3462cf, #2b53be);
  box-shadow: 4px 4px 10px rgba(2, 2, 70, 0.05);
  color: var(--white);
}
.alertdelete,
.buttons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: center;
  color: var(--gray-700);
}
.alertdelete {
  border-radius: var(--br-base);
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xl) var(--padding-5xl);
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--text-md-medium-size);
  color: var(--high-emphasis);
  font-family: var(--text-md-medium);
}
