.date {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: var(--gap-9xs);
}
.day {
  margin: 0;
  position: relative;
  line-height: 100%;
  font-weight: 400;
  font-family: 'Inter',sans-serif;
  font-weight: 600;
}
.monthyear {
  flex-direction: column;
  font-size: var(--font-size-xs);
  margin: 0;
}
.imageIcon {
  position: relative;
  border-radius: var(--br-9xs);
  width: 6.88rem;
  height: 6.25rem;
  object-fit: cover;
}
.description,
.title {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.title {
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.description {
  font-size: var(--text-md-normal-size);
  color: var(--title);
}
.text {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xs);
}
.container,
.content,
.text {
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.container {
  flex-direction: column;
  gap: var(--gap-sm);
  z-index: 0;
  row-gap: 0.5rem;
}
.content {
  flex-direction: row;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--text-sm-medium-size);
  color: var(--body);
}
.equipmentManagement {
  margin: 0;
  position: relative;
}
.connector {
  position: absolute;
  margin: 0 !important;
  top: 1.19rem;
  left: 22rem;
  width: 5rem;
  height: 0.89rem;
}
.timelinecard {
  position: relative;
  z-index: 100;
  left: calc(50vw - 29.5rem + 5px);
  right: 0;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: 8px 8px 24px rgba(2, 2, 70, 0.15);
  width: 22rem;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--text-sm-medium);
}
.timelinecard:after {
  content: '';
  position: absolute;
  top: -50px;
  bottom: -30px;
  width: 1px;
  right: calc(-5rem + 4.5px);
  background-color: #6A7185;
}
.categoriesAdded {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 1rem;
}
.categoryChip {
  font-family: var(--text-md-medium);
  height: 24px;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
}