.backbutton {
  border-radius: 4px !important;
  border: 1px solid #E9EDF1 !important;
  background: #FFF !important;
  min-width: inherit !important;
  padding: 10px 8px !important;
  box-shadow: none !important;
  width: inherit !important;
}

.backbutton:hover {
  border-radius: 4px !important;
  border: 1px solid #E9EDF1 !important;
  background: #FFF !important;
  min-width: inherit;
}

.label,
.text {
  position: relative;
}

.label {
  color: #344054;
  font-family: 'Inter', sans-serif;
  font-size: clamp(12px, 0.72vw, 16px);
  font-weight: 400;
  line-height: 20px;
}

.statusBtn {
  margin: 0;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: clamp(12px, 0.833vw, 16px);
  font-weight: 600;
  line-height: 24px;
}

.priorityBtn {
  margin: 0;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: clamp(11.5px, 0.72vw, 15px);
  font-weight: 500;
  line-height: 24px;
}

.prioritycontainer {
  border-radius: 20px;
  background-color: #05a155;
  padding: 2px 12px;
}

.priority,
.prioritycontainer,
.statuscontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.priority {
  align-items: center;
  gap: 8px;
}

.statuscontainer {
  border-radius: 30px;
  background-color: #a05148;
  padding: 2px 12px;
  cursor: pointer;

}

.statusrowChild {
  align-self: stretch;
  max-height: 100%;
  width: 1px;
  object-fit: cover;
}

.statusrowChild,
.unselected {
  position: relative;
}

.materialsReceived {
  margin: 0;
  position: relative;
  line-height: 18px;
  font-weight: 500;
}

.materialsreceivedcheckbox {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  height: 34px;
  justify-content: center;
  padding: 10px;
  gap: 6px;
  cursor: pointer;
  font-size: 16px;
  color: #35353d;
}

.materialsreceivedcheckbox,
.shippedstatus,
.statusrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.statusrow {
  justify-content: flex-start;
  gap: 16px;
}

.shippedstatus {
  align-self: stretch;
  justify-content: space-between;
  padding: 0 2px 0 0;
  margin-bottom: 1.5rem;
}