.tableHeaderCell {
  padding-block: 4px;
  font-size: clamp(12px, 0.72vw, 14px);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #6A7185;
  line-height: inherit;
  border: 0;
}

.tableBodyRow {
  background: #F5F7FA;
}

.tableBodyCell {
  color: #35353D;
  padding-block: 0;
  font-size: clamp(13px, 0.72vw, 15px);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  border: 0;
  border-right: 1px solid #E9EDF1;
}

.tableBodyCell:first-child {
  border-radius: 5px 0 0 5px;
}

.tableBodyCell:last-child {
  border-radius: 0 5px 5px 0;
  border: 0;
}

.materialsBlock table {
  border-collapse: separate;
  border-spacing: 0 3px;
  margin-top: 1.5rem;
}

.materialsBlock table {
  display: inline-table;
}

.materialsBlock {
  padding: 0 1.5rem 1rem;
  background: #fff;
}

.materialsBlockHeading {
  color: #A05148;
  font-family: 'Inter', sans-serif;
  font-size: clamp(16px, 0.93vw, 18px);
  font-weight: 500;
  line-height: 18px;
  margin: 0;
  border-top: 1px solid #E9EDF1;
  padding-top: 1rem;
}

.materialsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  margin-top: 1.5rem;
  grid-column-gap: 1rem;
}
.eachMaterialBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
}

.TotalAmountBlock {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.8rem;
  background-color: #F5F7FA;
  border-radius: 6px;
  margin-right: 40px;

}

.totalAmountTitle {
  color: #101828;
  font-family: 'Inter', sans-serif;
  font-size: clamp(12px, 0.83vw, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.TotalAmountBlock .totalAmount {
  background: linear-gradient(142deg, #3462CF 0%, #2B53BE 97.71%);
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: clamp(13px, 0.83vw, 16px);
  font-weight: 400;
  line-height: 24px;
  min-width: 120px;
  padding: 5.5px 10px;
}