.newFolder {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: clamp(16px, 4vw, 28px);
  font-weight: 500;
  line-height: 100%;
  margin: 0 0 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-mediumseagreen-100);
}

.input {
  border: 0;
  background-color: transparent;
  align-self: stretch;
}

.input input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.6rem;
}

.buttoncreatefolder {
  font-family: 'Inter', sans-serif;
  font-weight: 500 !important;
  align-self: stretch !important;
  text-transform: capitalize !important;
  border-radius: 8px !important;
  box-shadow: none !important;
  font-size: clamp(14px, 3vw, 16px) !important;
  padding: 0.5rem 1rem;
}

.buttoncancelfolder {
  font-family: 'Inter', sans-serif;
  font-weight: 500 !important;
  text-transform: capitalize !important;
  border-radius: 8px !important;
  border: 1px solid #999999 !important;
  box-shadow: none !important;
  font-size: clamp(14px, 3vw, 16px) !important;
  padding: 0.5rem 2.5rem;
  color: #333333;
}


.buttoncreatefolder {
border-radius: 4px !important;
  border: 1px solid #d94841 !important;
  background: #d94841 !important;
  box-shadow: 4px 4px 10px 0px #0202460d !important;
  color: #FFF !important;
  font-family: "Inter", sans-serif !important;
  font-size: clamp(15px, 3.5vw, 16px) !important;
  font-weight: 500 !important;
  text-transform: capitalize !important;
}

.buttoncreatefolder:disabled {
  color: #6b6a6a !important;
  background: linear-gradient(142deg, #cfcfcf 0%, #cfcfcf 97.71%) !important;
}


.buttons {
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    margin-top: 1.5rem;
}

.newfolder {
  border-radius: 8px;
  background-color: #fff;
  align-items: center;
  padding: 1rem;
}

.header {
  display: flex;
  align-items: center;
}

.headericon {
  width: 32px;
  text-align: end;
}

.header {
  background-color: #45A845;
  justify-content: space-between;
  padding: 16px 1rem;
}

.iconsiconArrowLeft {
  width: 25px;
}

.viewFarm {
  color: #fff !important;
  font-family: "Inter", sans-serif !important;
  font-size: clamp(18px, 3.5vw, 20px) !important;
  font-weight: 500 !important;
}