.newFolder {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: clamp(16px, 4vw, 28px);
  font-weight: 500;
  line-height: 100%;
  margin: 0 0 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-mediumseagreen-100);
}

.input {
  border: 0;
  background-color: transparent;
  align-self: stretch;
}

.input input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.6rem;
}

.buttoncreatefolder {
  font-family: 'Inter', sans-serif;
  font-weight: 500 !important;
  align-self: stretch !important;
  text-transform: capitalize !important;
  border-radius: 8px !important;
  box-shadow: none !important;
  font-size: clamp(14px, 3vw, 16px) !important;
  padding: 0.5rem 1rem;
}

.buttoncancelfolder {
  font-family: 'Inter', sans-serif;
  font-weight: 500 !important;
  text-transform: capitalize !important;
  border-radius: 8px !important;
  border: 1px solid #999999 !important;
  box-shadow: none !important;
  font-size: clamp(14px, 3vw, 16px) !important;
  padding: 0.5rem 2.5rem;
  color: #333333;
}


.buttoncreatefolder {
  color: #fff !important;
  background: linear-gradient(142deg, #3462CF 0%, #2B53BE 97.71%) !important;
}

.buttoncreatefolder:disabled {
  color: #6b6a6a !important;
  background: linear-gradient(142deg, #cfcfcf 0%, #cfcfcf 97.71%) !important;
}


.buttons {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 2rem;
}

.newfolder {
  border-radius: 8px;
  background-color: #fff;
  align-items: center;
  padding: 1rem;
}