.farmIcon {
  width: 24px;
  height: 24px;
}

.farms {
  font-size: clamp(20px, 1.25vw, 24px);
  color: #d94841;
  font-family: Inter;
  font-weight: 400;
  margin: 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.button {
  border-radius: 3px !important;
  background: #05A155 !important;
  color: #FFF !important;
  font-family: Inter;
  font-size: clamp(12px, 0.833vw, 18px) !important;
  font-weight: 500 !important;
  text-transform: capitalize !important;
  padding-block: 5px !important;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow: none !important;
}

.button:hover {
  background-color: #05A155 !important;
}

.actionsbar,
.farmsnavbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.actionsbar {
  justify-content: flex-start;
  gap: 16px;
}

.actionsbar input {
  padding-block: 6px !important;
}

.farmsnavbar {
  justify-content: space-between;

}

.AllFarmsPageWeb {
  padding-top: 5rem;
  width: 80%;
  margin: 0 auto;
}