@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.footer .footerCard {
    width: 100% !important;
    max-width: 500px !important;
    margin: 0 auto !important;
    background-color: #ccebcc !important;
    z-index: 1 !important;
}

.navButtonList button {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}

.footer .navButtonList {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navButtonList .navButton {
    text-align: center !important;
    font-size: clamp(12px, 3vw, 14px) !important;
    font-weight: 400 !important;
    font-family: "Inter", sans-serif !important;
    color: #05a155 !important;
    min-width: inherit !important;
}


.navButtonList .navButtonActive {
    color: #d94841 !important;
    font-size: clamp(13px, 3vw, 16px) !important;
    text-align: center !important;
    font-weight: 400 !important;
    font-family: "Inter", sans-serif !important;
    min-width: inherit !important;
}