@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.footer .footerCard {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    background-color: #ccebcc;
}
.footer button {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}
.footer .navButtonList {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navButtonList .navButton {
    text-align: center;
    font-size: clamp(11px, 2.7vw, 12px);
    font-weight: 500;
    font-family: "Inter", sans-serif !important;
    color: #05a155;
}
.navButtonList .navButtonActive {
    color: #d94841;
    font-size: clamp(12px, 2.7vw, 12px);
    text-align: center;
    font-weight: 500;
    font-family: "Inter", sans-serif !important;
}
