.menuIicon {
    width: 32px;
    height: 32px;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0.65rem;
    padding-bottom: 0;
}

#navBar {
    width: 100%;
    max-width: 500px;
    z-index: 4;
    position: fixed;
    top: 0;
    background-color: #fff;
}

.navbar button {
    border: 0;
    padding: 0;
    background: none;
}

#mobileBody {
    width: 100%;
    max-width: 500px;
}