.profile,
.userdetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}

.profile {
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.menuBarDiv{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menuBar1 {
  width: 30px;
  height: 30px;
  margin-bottom: 1rem;
}

.menuBar1 img {
  width: 100%;
}

.apps1Icon {
  width: 20px;
  height: 20px;
}

.menuItem {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base);
  gap: 2rem;
}



.menuitems,
.sideMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menuitems {
  align-self: stretch;
  justify-content: center;
  gap: 0.5rem;
  padding: 0;
  padding-top: 2rem;
}



.menuitems li {
  list-style: none;
}

.sideMenu p {
  color: #FFF;
  font-family: Inter;
  font-size: clamp(16px, 4.5vw, 20px);
  font-weight: 300 !important;
  line-height: 100%;
}

.sideMenu h6 {
  color: rgba(255, 255, 255, 0.70);
  font-family: Inter;
  font-size: clamp(10px, 3.2vw, 14px);
  font-weight: 300;
  line-height: 100%;
}

#sideMenu {
  padding: 1rem 2rem;
}

.sideMenu {
  flex: 1;
  background-color: #A05148;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  height: 100%;
}