.newFolder {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: clamp(14px, 3vw, 16px);
  font-weight: 500;
  line-height: 100%;
  margin: 0;
  text-align: center;

}

.input {
  border: 0;
  background-color: transparent;
  align-self: stretch;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
}

.buttoncreatefolder {
  text-transform: capitalize !important;
  border-radius: 4px !important;
  box-shadow: 4px 4px 10px 0px rgba(2, 2, 70, 0.05) !important;
  font-size: clamp(14px, 3vw, 16px) !important;
  padding-block: 0.5rem !important;
  font-weight: 500 !important;
  font-family: "Inter", sans-serif !important;
}

.buttoncancelfolder {
  text-transform: capitalize !important;
  border-radius: 4px !important;
  color: #d94841 !important;
  border: 1px solid #d94841 !important;
  box-shadow: 4px 4px 10px 0px rgba(2, 2, 70, 0.05) !important;
  font-size: clamp(14px, 3vw, 16px) !important;
  padding-block: 0.5rem !important;
  font-weight: 500 !important;
  font-family: "Inter", sans-serif !important;
}

.buttoncancelfolder:hover {
  color: #d94841 !important;
  border: 1px solid #d94841 !important;
}

.buttoncreatefolder {
  color: #fff !important;
  background: #d94841 !important;
}

.buttoncreatefolder:hover {
  color: #fff !important;
  background: #d94841 !important;
}

.buttoncreatefolder:disabled {
  color: #6b6a6a !important;
  background: linear-gradient(142deg, #cfcfcf 0%, #cfcfcf 97.71%) !important;
}


.buttons {
  align-self: stretch;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
}

.buttons>* {
  flex-grow: 1;
}

.newfolder {
  border-radius: 8px;
  background-color: #fff;
  align-items: center;
  padding: 1.5rem 1rem 2rem;
  text-align: center;
}