.profilePage {
    width: 50vw;
    margin: 0 auto;
    padding-top: 3rem;
    max-width: 650px;


}

.profilePageCard{
    border: 2px solid #9a9a9a;
    border-radius: 1rem;
    padding: 2rem 1.5rem;
    background-color: #fff;
}
.header{
    font-size: auto;
    font-weight: bold;
    margin-left: 30px;
}
.content{
    padding: 1rem .5rem 0rem ;
    display: flex;
    flex-direction: column;
    gap:.3rem
}
.contentGrid{
    border-radius: .5rem;
    background-color: #f5f7fa;
    display: flex;
    align-items:center;
    padding: .5rem 1rem;
}
.heading{
    font-family: Inter;
    min-width: 15rem;
    color:#a05148;
    font-weight: bold;
}
.value{
    font-family: Inter;
}

.updatePasswordPage {
    width: 35%;
    margin: 0 auto;
    max-width: 650px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formCard {
    padding: 2rem;
    width: 100%;
}

.formCard .cardHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 2rem;
}

.formCard .cardHeader button {
    padding: 0 !important;
    min-width: inherit !important;
}

.formCard .inputfield {
    margin-bottom: 1.5rem;
}

.formCard .update_Btn {
    text-transform: capitalize !important;
    font-size: clamp(16px, 0.83vw, 20px);
    font-family: 'Inter', sans-serif;
    margin-top: 1rem;

}