.backbutton {
  border-radius: 4px;
  border: 1px solid var(--Stroke, #E9EDF1);
  background: #FFF;
}

.backbutton:hover {
  background: #05A155 !important;
  padding: 12px 10px !important;
  min-width: inherit !important;
  border-radius: 50% !important;
}

.largetext,
.smalltext {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}

.smalltext {
  cursor: pointer;
}

.largetext {
  margin: 0;
  font-size: clamp(20px, 1vw, 22px);
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #a05148;
}

.addprocurementheader,
.textwrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.textwrapper {
  flex: 1;
  flex-direction: column;
  gap: 4px;
}

.addprocurementheader {
  align-self: stretch;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 0.5rem;
  text-align: left;
  color: #000;
  font-family: 'Inter', sans-serif;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}