.inoutbox {
  border: 0;
  background-color: #fff;
  width: 100%;
}

.label {
  margin-bottom: 0.5rem;
  color: #344054;
  font-family: 'Inter', sans-serif;
  font-size: clamp(12px, 0.72vw, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.datepicker {
  align-self: stretch;
  flex: 1;
}



.dateofoperation,
.dropdown,
.row {
  align-self: stretch;
}

.row {
  display: grid;
  align-items: flex-start;
  grid-column-gap: 16px;
}

.dropdown {
  cursor: pointer;
}

.selectfarm {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.inputbox {
  align-self: stretch;
}

.remarks {
  display: flex;
  flex-direction: column;
}

.column,
.operationdetails {
  gap: 24px;
}

.operationdetails {
  text-align: left;
  font-size: 14px;
  color: #344154;
  font-family: Inter;
}