.nameOfOperation {
  cursor: pointer;
  position: relative;
  line-height: 100%;
  font-weight: 500;
  margin-top: 40px;
  width: 90%;
  margin-left: 60px;
}
.inoutbox {
  border: 0;
  background-color: transparent;
  width: 90%;
 margin-left: 60px;
}
.nameofoperation {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-start;
  gap: 8px;
}
.label {
  cursor: pointer;
  position: relative;
  line-height: 100%;
  font-weight: 500;
    gap: 8px;
}
.datepicker {
  align-self: stretch;
  flex: 1;
}
.dateofoperation {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 45px;
}
.dateofoperation,
.dropdown,
.row {
  align-self: stretch;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.dropdown {
  cursor: pointer;
}
.selectfarm {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-top: 30px;
  
}
.inputbox {
  align-self: stretch;
}
.remarks {
  display: flex;
  flex-direction: column;
  width: 80%;
    margin-left: 60px;
    margin-top: 30px;
}
.column,
.operationdetails {
  gap: 24px;
}
.operationdetails {
  text-align: left;
  font-size: 14px;
  color: #344154;
  font-family: Inter;
}
