.drawerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drawerHeader h6 {
    font-size: clamp(16px, 0.833vw, 20px) !important;
    font-weight: 500 !important;
    font-family: 'Inter', sans-serif !important;
}

.taskLogViewCards {
    display: flex;
    flex-direction: column;
    height: 85vh;
    overflow-y: auto;
}

.taskLogViewCards::-webkit-scrollbar {
    background: transparent;
    width: 5px;
    height: 3px;
}

.taskLogViewCards::-webkit-scrollbar:hover {
    opacity: 1;
}

.taskLogViewCards:hover::-webkit-scrollbar-thumb {
    background: rgb(198, 198, 198);
}

.tasklogViewCard {
    border-bottom: 1px solid #E9EDF1;
    padding: 1rem;
    padding-right: 0;
}

.tasklogViewCard:last-child {
    border-bottom: 0px solid #E9EDF1;
}

.tasklogViewCard:hover {
    background: #F0FFF0;
}

.taskLogCardHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

}

.taskViewLogTaskName {
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: clamp(12px, 0.72vw, 16px);
    font-weight: 500;
}

.taskStatusUpdateTime {
    color: #6A7185;
    font-weight: 500;
    font-size: clamp(10px, 0.625vw, 14px);
}

.taskMessageAndDate {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.8rem;
}

.taskLogStatusAlrert {
    font-size: clamp(11px, 0.625vw, 16px);
    font-weight: 500;
}

.taskStatusUpdatemessage {
    font-family: 'Inter', sans-serif;
    font-size: clamp(11px, 0.72vw, 16px);
    font-weight: 400;
    color: #000;
}


.taskViewLogHeading {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: clamp(12px, 0.83vw, 20px) !important;
    font-family: "Inter", sans-serif !important;
    color: #D94841 !important;
    font-weight: 500 !important;
    line-height: 100%;
}