.singleDetailsBox {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.landPreparation {
  color: var(--Brown, #A05148);
}

.editicon {
  width: 12px;
  height: 12px;
}

.iconBlock {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.status {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 20%;
  max-width: 150px;
}

.userBlock {
  width: 50%;
}

.userDetails {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.cardDetails h1 {
  margin: 0;
  font-size: clamp(14px, 0.83vw, 18px);
  line-height: 100%;
}

.cardDetails input {
  font-size: 11px;
  font-weight: 600;
  padding-block: 6px;
}

.userLabel {
  color: #000;
  font-size: clamp(13px, 0.72vw, 16px);
  font-weight: 500;
  width: 30%;
  display: flex;
  align-items: center;
}

.text {
  margin: 0;
  color: var(--Title, #35353D);
  font-family: "Inter", sans-serif;
  font-size: clamp(12px, 0.62vw, 18px);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;

}

.responseDate2 {
  background-color: #fff;
  padding: 2px 10px;
  border: 1px solid #B4C1D6;
  border-radius: 4px;
}

.viewHeader {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1rem;
}

.cardDetails,
.description {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.descriptionText {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

.editDesc {
  cursor: pointer;
  text-decoration: underline;

}

.descriptionText p {
  color: #2240ff;
  font-size: clamp(13px, 0.72vw, 16px);
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

.cardDetails button {
  padding: 0 !important;
}

.cardDetails button:hover {
  background: none !important;
}

.label {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: clamp(15px, 0.83vw, 20px);
  font-weight: 500;
  line-height: 20px;
}

.farmersPrepareThe {
  margin: 0;
  font-size: clamp(13px, 0.72vw, 16px);
  line-height: 150%;
  color: #35353d;
}

.cardDetails {
  padding: 16px 16px 10px;
  gap: 0.5rem;
  text-align: left;
  font-size: 14px;
  color: #344054;
  font-family: Inter;
}

.imageIcon {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*This is a scroll bar customized styles*/
.descriptionPara textarea::-webkit-scrollbar {
  width: 4px;
  height: 0px;

}


/* Track */
.descriptionPara textarea::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.descriptionPara textarea::-webkit-scrollbar-thumb {
  background: #c4c2c2;
  border-radius: 10px;
}

/* Handle on hover */
.descriptionPara textarea::-webkit-scrollbar-thumb:hover {
  background: #5a5959;
}

/* attachment styles */
.allAttachments {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 4rem;
  grid-row-gap: 1rem;
  width: 90%;
  margin: 0.5rem auto 0;

}

.singleAttachment {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.attachmentDetails {
  display: flex;
  align-items: center;
  background-color: #f5f7fa;
  width: 100%;
  max-width: 350px;
  padding: 8px;
  border-radius: 4px;
  justify-content: space-between;
}

.attachmentDetails p {
  margin: 0;
}

.checkGrp {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.canceleBtn{
   color:#3462cf !important
}.canceleBtn:hover{
   background-color: #3462cf;
   color:white
}
.saveBtn{
  background-color: #3462cf;
}

.saveBtn:hover{
  background: #000000 !important;
  color:#3462cf
}