.chatBox {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  color: var(--gray-900);
}
.attachments,
.image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.image {
  overflow: hidden;
}
.attachments {
  align-self: stretch;
  gap: var(--gap-base);
}
.delete {
  position: relative;
}
.actions,
.button,
.inputForm {
  display: flex;
  flex-direction: row;
}
.button {
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.actions,
.inputForm {
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
}
.inputForm {
  background-color: var(--white);
  flex-direction: column;
  padding: var(--padding-5xl);
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  border-radius: var(--padding-xl) var(--padding-xl) 0 0;
  border-bottom: 1px solid var(--stroke);
}
.uploadFiles {
  display: flex;
  justify-content: center; 
  gap: 8px; 
}