.farmIcon {
  width: 24px;
  height: 24px;
}

.viewScoutingHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.scoutingViewWeb a {
  color: #6A7185;
  font-family: 'Inter';
  font-size: clamp(14px, 0.72rem, 16px);
  font-weight: 500;
}

.scoutingViewWeb li p {
  color: #4A86F7;
  font-family: 'Inter';
  font-size: clamp(14px, 0.72rem, 16px);
  font-weight: 500;
  text-decoration-line: underline;
}

.farms {
  font-size: clamp(18px, 1.25vw, 24px);
  color: #d94841;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.iconDiv {
  border-radius: 4px;
  border: 1px solid var(--Stroke, #E9EDF1);
  background: #FFF;
  display: flex;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  border-radius: 3px !important;
  background: #05A155 !important;
  color: #FFF !important;
  font-family: "Inter", sans-serif;
  font-size: clamp(12px, 0.833vw, 18px) !important;
  font-weight: 500 !important;
  text-transform: capitalize !important;
  padding-block: 5px !important;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow: none !important;
}

.button:hover {
  background-color: #05A155 !important;
}

.actionsbar,
.farmsnavbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.actionsbar {
  justify-content: flex-end;
  gap: 16px;
  width: 70%;
}

.farmsnavbar {
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0.5rem;
}

.AllFarmsPageWeb {
  padding: 1rem 1rem 0;
  width: calc(100% - 2rem);
  margin: 0 auto;
}

.allFarms {
  height: calc(100vh - 155px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 1rem;
}

.AllScoutsWeb {
  height: calc(100vh - 115px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 1rem;
}

.AllScoutsLeftWebPage{
  height: calc(100vh - 115px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 1rem;
  width: 50%;
}
.AllScoutsLeftWebPage::-webkit-scrollbar {
  background: transparent;
  width: 5px;
  height: 3px;
}
.AllScoutsRightWebPage {
  height: calc(100vh - 115px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 1rem;
  width: 50%;
  background-color: var(--white, #ffffff);
  border-radius: 10px;
  border: 1px solid #E9EDF1;
  border-bottom: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), -2px -2px 4px rgba(0, 0, 0, 0.2);
}
.AllScoutsRightWebPage::-webkit-scrollbar {
  background: transparent;
  width: 5px;
  height: 3px;
}
.AllScoutsRightClose {
  display: "none";
}

.allFarms::-webkit-scrollbar {
  width: 4px;
  height: 0px;

}

.AllScoutsWeb::-webkit-scrollbar {
  width: 4px;
  height: 0px;

}

@media(min-width:1000px) and (max-width: 1500px) {
  .allFarms::-webkit-scrollbar {
    height: 3px;
  }

  .AllScoutsWeb::-webkit-scrollbar {
    height: 3px;
  }

}

/* Track */
.allFarms::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.allFarms::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.allFarms::-webkit-scrollbar-thumb:hover {
  background: #00435d;
}

/* Track */
.AllScoutsWeb::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.AllScoutsWeb::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.AllScoutsWeb::-webkit-scrollbar-thumb:hover {
  background: #00435d;
}

.AllScoutsWeb .allScoutingCards {
  padding: 0;
}

.filterBlock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.filterBlock p {
  color: #6A7185;
  font-family: "Inter", sans-serif;
  font-size: clamp(13px, 0.72vw, 18px);
  font-weight: 500;
  line-height: 100%;
}

.selectedForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.formCard {
  border-radius: 10px;
  border: 1px solid #E9EDF1;
  border-right: 4px solid #D94841 !important;
  background: #FFF;
  display: flex;
  padding: 8px 24px 8px 16px;
  align-items: center;
  gap: 16px;
}

.formCard img {
  width: 25px;
  height: 25px;
}

.formDetails h6 {
  margin: 0;
  color: #35353D;
  font-family: "Inter", sans-serif;
  font-size: clamp(16px, 0.833vw, 18px);
  font-weight: 500;
}

.formDetails p {
  margin: 0;
  color: #6A7185;
  font-family: "Inter", sans-serif;
  font-size: clamp(11px, 0.62vw, 14px);
  font-weight: 500;
  padding-top: 5px;
}

.eachDayScouting {
  padding-bottom: 4rem;
}

.scoutDay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.farmsIcon {
  width: 30px;
  height: 30px;
}

.scoutDay p {
  color: #000000cc !important;
  font-family: "Inter", sans-serif !important;
  font-size: clamp(12px, 0.83vw, 18px) !important;
  font-weight: 500 !important;
  line-height: 100% !important;
}

.noSummaryBtn,
.hasSuggestions,
.hasSummaryBtn {
  font-family: "Inter", sans-serif !important;
  font-size: clamp(13px, 0.83vw, 18px) !important;
  font-weight: 500 !important;
  line-height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background-color: #ffffff;
  padding: 3px 9px 3px 9px;
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 5px 15px 0 #eaeaea;
  transition: 0.2s all ease-in-out;
}

.hasSummaryBtn {
  color: var(--primary-blue);
}

.noSummaryBtn {
  color: var(--color-firebrick);
}

.hasSuggestions {
  color: var(--color-mediumseagreen-100);
}

.noSummaryBtn svg,
.hasSuggestions svg,
.hasSummaryBtn svg {
  height: 18px;
  width: 18px;
}

.scoutDay .summaryBtn svg path {
  fill: var(--primary-blue) !important;
}

.noSummaryBtn:hover,
.hasSuggestions:hover,
.hasSummaryBtn:hover {

  transition: 0.3s all ease-in-out;
  transform: translateY(-3px);
  box-shadow: 0 0 0 2px #ffffff, 0 5px 15px 0 #d1d1d1;
}

.noSummaryBtn:hover svg path,
.hasSuggestions:hover svg path,
.hasSummaryBtn:hover svg path,
.summaryBtn:hover svg path {
  fill: var(--title);
}

.allScoutImgContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.5rem;
}
.allScoutImgFlexContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}

.singleScoutImg {
  flex-grow: 1;
  flex-shrink: 1;
  height: 150px;
  border-radius: 0;
  background-color: #f5f5f5;
  cursor: pointer;
}

.singleScoutImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 3px;
}

/* AllScoutspage agrologin */
.AllScoutsPageWeb {
  width: calc(100% - 2rem);
  padding: 1rem;
  background-color: var(--white, #ffffff);
  /* background-color: var(--background, #F5F7FA); */
}

.scoutPageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0;
}

.scoutPageHeader h4 {
  color:  #FE3143;
  font-family: "Inter", sans-serif;
  font-size: clamp(20px, 1.25vw, 24px);
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.allScoutsFilterBlock {
  width: auto;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-column-gap: 1rem;
}

.allScoutsFilterBlock input {
  color: #000 !important;
  font-size: clamp(13px, 0.62vw, 15px) !important;
  font-family: 'Inter', sans-serif !important;
}

.postedDate {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  color: #313132 !important;
  font-size: 1.125rem !important;
  position: sticky !important;
  top: 0px !important;
  display: flex !important;
  align-items: center !important;
  gap: 0.25rem !important;
  background-color: #ffffff !important;
  /* border-top: 1px solid #efefef !important; */
  border-bottom: 1px solid #efefef !important;
  z-index: 100 !important;
  padding: 0.65rem 0 !important;
  margin: 0 -1.5rem 1rem !important;
}

.subTitle {
  font-family: 'Inter', sans-serif;
  color: var(--gray-900);
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1.5rem;
}