.FarmDetails {
  padding: 16px 16px 16px 0;
}
.innerWrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 30px;
}
.cardContainer {
  height: calc(100vh - 2.5rem); 
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 220px;
  overflow-y: scroll;
  padding: 16px 0 16px 16px;
}
.cardContainer::-webkit-scrollbar{
  background: transparent;
  width: 5px;
}
.cardContainer::-webkit-scrollbar:hover{
  opacity: 1;
}
.cardContainer:hover::-webkit-scrollbar-thumb{
  background: rgb(198, 198, 198);
}