.usericon {
  width: 20px;
  height: 20px;
}

.date,
.username1 {
  margin: 0;
}

.username1 {
  color: #35353D;
  font-family: "Inter", sans-serif;
  font-size: clamp(13px, 0.83vw, 16px);
  font-weight: 500;
  line-height: 100%;
}

.date {
  color: #60606B;
  font-family: "Inter", sans-serif;
  font-size: clamp(10px, 0.5vw, 12px);
  font-weight: 400;
  line-height: 100%;
}

.header,
.userdetails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.userdetails {
  flex: 1;
  align-items: center;
  gap: 8px;
}

.header {
  align-self: stretch;
  align-items: flex-end;
  padding: 16px 16px 4px;
}

.farmname,
.location {
  margin: 0;
  line-height: 100%;
}

.farmname {
  color: var(--Title, #35353D);
  font-family: "Inter", sans-serif;
  font-size: clamp(13px, 0.83vw, 16px);
  font-weight: 500;
  line-height: 100%;
}

.location {
  color: #60606B;
  font-family: "Inter", sans-serif;
  font-size: clamp(10px, 0.5vw, 12px);
  font-weight: 400;
  line-height: 150%;

}

.textwrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}

.cropname {
  margin: 0;
  color: #05A155;
  font-family: "Inter", sans-serif;
  font-size: clamp(12px, 0.72vw, 14px);
  font-weight: 500;
  line-height: 100%;
}

.crop,
.farminfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.crop {
  justify-content: flex-end;
  gap: 5px;
}

.farminfo {
  align-self: stretch;
  background-color: #f8ffea;
  border-top: 1px solid #e2ead3;
  border-bottom: 1px solid #e2ead3;
  justify-content: space-between;
  padding: 5px 16px;
}

.imageIcon {
  height: 100%;
  width: 100%;
  object-fit: cover;
  font-size: 12px;
}

.container {
  height: 100px;
  width: 100%;
  flex-basis: 33%;
  flex-grow: 1;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #00000025;
}

.grid {
  flex: 1;
  gap: 2%;
  display: flex;
  justify-content: space-between;

}

.imagegallery {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 6px 8px;
}

.viewBtn {
  cursor: pointer;
  border-radius: 24px !important;
  border: 1px solid #D7EFE4 !important;
  background: #F4FFFA !important;
  color: #35353D !important;
  font-family: "Inter", sans-serif !important;
  font-size: clamp(12px, 0.72vw, 14px) !important;
  font-weight: 600 !important;
  line-height: 100% !important;
  text-transform: capitalize !important;
  box-shadow: none !important;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px 10px !important;
}

.viewBtn:hover {
  background: #F4FFFA !important;
}

.actionscontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}


.actionscontainer {
  align-self: stretch;
  padding: 4px 16px 12px;
}

.scoutingcardupdated {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 4px 4px 20px rgba(236, 236, 236, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;

}