.usericon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.date,
.username1 {
  margin: 0;
  position: relative;
  line-height: 100%;
}
.username1 {
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  width: 151px;
  flex-shrink: 0;
}
.date {
  flex: 1;
  font-size: 12px;
  color: #60606b;
  text-align: right;
}
.header,
.userdetails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.userdetails {
  flex: 1;
  align-items: center;
  gap: 8px;
}
.header {
  align-self: stretch;
  align-items: flex-end;
  padding: 16px 16px 4px;
}
.farmname,
.location {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.farmname {
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.location {
  font-size: 12px;
  color: #60606b;
}
.textwrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}
.cropname {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
}
.crop,
.farminfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.crop {
  justify-content: flex-end;
  gap: 8px;
  text-align: right;
  font-size: 14px;
  color: #05a155;
}
.farminfo {
  align-self: stretch;
  background-color: #f8ffea;
  border-top: 1px solid #e2ead3;
  border-bottom: 1px solid #e2ead3;
  justify-content: space-between;
  padding: 8px 16px;
}
.imageIcon {
  align-self: stretch;
  border-radius: 2px;
  max-width: 100%;
  overflow: hidden;
  height: 126px;
  flex-shrink: 0;
  object-fit: cover;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.grid {
  flex: 1;
  height: 126px;
  gap: 4px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: px;
  grid-column-gap: 8px;
}
.imagegallery {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 6px 8px;
}
.view {
  cursor: pointer;
}
.comments {
  align-self: stretch;
}
.actions,
.actionscontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.actions {
  flex: 1;
  gap: 8px;
}
.actionscontainer {
  align-self: stretch;
  padding: 4px 16px 12px;
}
.scoutingcardupdated {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 4px 4px 20px rgba(236, 236, 236, 0.5);
  height: 306px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  text-align: left;
  font-size: 16px;
  color: #35353d;
  font-family: Inter;
}
