.form,
.secondaryFormField {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  padding-top: 1rem;
}

.secondaryFormField {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 30px;
  align-self: stretch;
  flex-direction: row;
  font-size: var(--text-sm-medium-size);
  color: var(--primary);
  margin-top: 1rem;
}

.form {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: clamp(900px, 60vw, 1000px);;
  text-align: left;
  margin-bottom: 1.5rem;
}