.title {
    color: var(--Title);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin: 0;
    vertical-align: middle;
}