.label {
  margin: 0;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.dropdown,
.label {
  align-self: stretch;
  width: 100%;
}
.workType {
  flex: 1;
  height: 70px;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.cardworktype,
.conatiner,
.date,
.workType {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.date {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.cardworktype,
.conatiner {
  align-self: stretch;
}
.conatiner {
  flex-direction: row;
  padding: 0 var(--padding-13xl);
  gap: var(--gap-5xl);
}
.cardworktype {
  flex-direction: column;
  padding: var(--padding-13xl) 0;
  text-align: left;
  font-size: var(--text-sm-medium-size);
  color: var(--gray-700);
  font-family: var(--text-sm-medium);
}

