.label {
  margin: 0;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.dropdown,
.label {
  align-self: stretch;
  width: 100%;
}
.workType {
  flex: 1;
  height: 70px;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.cardworktype,
.date,
.workType {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.date {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.cardworktype,
.conatiner {
  align-self: stretch;
}
.conatiner {
  display: grid;
  grid-template-columns: auto auto;
  align-self: stretch;
  /* align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row; */
  padding: 0 var(--padding-13xl);
  gap: var(--gap-5xl);
}
.categoriesRow {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1 / span 1 / span 2;
  gap: var(--gap-7xs);
}
.cardworktype {
  flex-direction: column;
  padding: var(--padding-13xl) 0;
  text-align: left;
  font-size: var(--text-sm-medium-size);
  color: var(--gray-700);
  font-family: var(--text-sm-medium);
}
.selectField {
  min-width: 300px;
  min-height: 45px;
  justify-content: flex-start;
}
.selectField > div{
  min-height: 50px;
  background-color: #ffffff;
}
.selectField fieldset {
  min-height: 50px;
}
