.addAIcon {
  position: relative;
  width: 24px;
  height: 24px; 
}
.addALog {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.inputTitle {
  border: none;
  background-color: transparent;
  flex: 1;
  position: relative;
}
.inputTitle input {
  font-size: 1.25vw; 
}
.description textarea{
  font-size: var(--text-md-medium-size);
  position: relative;
  z-index: 10;
}
.description textarea::-webkit-input-placeholder { /* Edge */
  color: #000000;
}
.description textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000000;
}
.description textarea::placeholder {
  color: #000000;
}
.description textarea:focus-visible {
  outline: none;
}
.description {
  align-self: stretch;
  padding-inline: 0;
}

.description fieldset,
.inputTitle div:after,
.inputTitle div:before {
  display: none;
}
.row,
.rowParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.row {
  flex: 1;
}
.rowParent {
  position: relative;
  align-self: stretch;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-3xs);
  z-index: 0;
}
.threeDotsChild {
  position: relative;
  border-radius: 50%;
  background-color: var(--stroke);
  width: 4px;
  height: 4px;
  top: -3px;
}
.container,
.primaryFormField,
.threeDots {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.threeDots {
  margin: 0 !important;
  position: absolute;
  top: 20.5px;
  left: 7.5px;
  gap: var(--gap-9xs);
  z-index: 2;
}
.container,
.primaryFormField {
  align-self: stretch;
}
.container {
  border-radius: var(--br-base);
  background-color: var(--white);
  box-shadow: var(--shadow-field);
  position: relative;
}
.primaryFormField {
  position: relative;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-xl);
  font-family: var(--text-sm-medium);
  z-index: 10;
}
.categoriesBox {
  position: absolute;
  top: 0;
  right: 0;
  top: 0;
  max-width: 100%;
  z-index: 100;
  max-width: 60vw;
  height: auto;
}
.selectField {
  min-width: 300px;
  background-color: #ffffff;
  align-items: center;
  min-height: 45px;
  justify-content: flex-start;
}
.selectField > div,
.selectField fieldset{
  min-height: 50px;
}