.card {
  border-radius: var(--br-base);
  background-color: var(--white);
  box-shadow: var(--shadow-field);
  overflow: hidden;
  padding: var(--gap-5xl);
}
.progressSteps {
  flex: 1;
  max-width: 400px;
  text-align: left;
  font-size: var(--text-sm-medium-size);
  color: var(--primary);
  font-family: var(--text-sm-medium);
}
