.description,
.title {
  margin: 0;
  align-self: stretch;
  position: relative;
}

.title {
  font-size: inherit;
  line-height: 12px;
  font-weight: 600;
  font-family: inherit;
}

.description {
  font-size: var(--text-sm-normal-size);
  line-height: 14px;
  color: var(--body);
}

.header,
.textwrapper {
  display: flex;
  gap: var(--gap-5xs);
}

.textwrapper {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.header {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.label {
  margin: 0;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}

.dropdown,
.label {
  align-self: stretch;
}

.quantity,
.resourcetype {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}



.textInput {
  border: 0;
  background-color: transparent;
}

.inputField {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}

.resourcetypeParent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap-5xl);
}

.container,
.resource,
.resourcetypeParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.container {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}


.table {
  border: 1px solid;
  min-width: 100%;

}


.resource {
  border-top: 1px solid var(--stroke);
  flex-direction: row;
  padding: var(--padding-13xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--gray-900);
  font-family: var(--text-sm-medium);
  display: flex;
  flex-direction: column;

}