.viewProcurementPage {
    padding: 1.5rem 1rem 1rem;
    max-height: calc(100vh - 103px);
    overflow-Y: auto;
}

.procurementDetailsBlock {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

}

.procurementDetailsBlock {
    margin-top: 30px;
    display: flex;
    flex-Direction: column;
    justify-content: center;

}

.vendarDetailsBlock {
    margin-top: 30px;
    display: flex;
    flex-Direction: column;
    justify-content: center;
}

.trackingDetailsBlock {
    margin-top: 30px;
    margin-bottom: 1.5rem;
    display: flex;
    flex-Direction: column;
    justify-content: center;
}

.addMaterialBtn {
    font-size: clamp(13px, 2vw, 15px) !important;
    font-family: "Inter", sans-serif !important;
    color: #45A845 !important;
    text-transform: capitalize !important;
    box-shadow: none !important;
}

.addMaterialBtn:hover {
    color: #45A845 !important;
    background: transparent !important;
    box-shadow: none !important;
}