.procurementtitle {
    color: #35353D !important;

    font-family: 'Inter', sans-serif !important;
    font-size: clamp(14px, 3vw, 16px) !important;
    font-weight: 400 !important;
    line-height: 120% !important;

}

.procurementtitle span {
    font-size: clamp(12px, 2vw, 14px) !important;
}

.priority {
    display: flex;
    padding: 4px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #F2A84C;
    color: #fff;
    font-size: clamp(12px, 2vw, 13px);
}

.dateOfClosing {
    color: #D94841;
    font-family: 'Inter', sans-serif;
    font-size: clamp(12px, 3vw, 14px);
    font-weight: 500;
    line-height: 20px;
}

.procurementTitleBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.procurementFarmBlock {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 1rem;
}

.procurementClosingDateBlock {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    margin-top: 1rem;
}

.procurementClosingDateBlock img {
    margin-top: 2px;
}

.procurementClosingDateBlock .dateBlock {
    display: flex;
    flex-direction: column;
}

.approvedByBlock {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    margin-top: 1rem;
}

.approvedByBlock img {
    margin-top: 2px;
}