.chatBox {
  background-color: #fff;
}

.chatBox * {
  border-radius: 8px;
}

.chatBox textarea {
  height: 60px !important;
}

.groupIcon {
  position: relative;
  width: 20px;
  height: 20px;
}

.imageIcon,
.link {
  height: 20px;
  overflow: hidden;
  cursor: pointer;
  flex-shrink: 0;
}

.link {
  width: 19.98px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.imageIcon {
  width: 20px;
  object-fit: cover;
}

.attachments {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 59.98px;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  cursor: pointer;
}

.sendbutton {
  border-radius: 6px;
  box-shadow: 8px 8px 24px 0px rgba(2, 2, 70, 0.15) !important;
  color: #FFF !important;
  font-family: "Inter", sans-serif;
  font-size: clamp(14px, 0.72vw, 16px);
  font-weight: 500;
  line-height: 24px;
  padding: 6px 35px !important;
  min-width: 150px;
  text-transform: capitalize;
}

.actions,
.commentform {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
}

.actions {
  margin-top: 1rem;
}

.commentform {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  padding: 1rem 0 0;
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border-top: 1px solid var(--stroke);
  padding-bottom: 10px;
}

.uploadprogress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.uploadprogress {
  width: 100%;
  font-size: clamp(12px, 3vw, 14px);
  color: #000;
}

.uploadItem {
  display: flex;
  align-items: center;
  gap: 10px;
}


.progress {
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.photojpg button {
  padding-block: 0;
  padding-left: 0;
}

.progressdetails {
  display: flex;
  justify-content: flex-start;
}

.progressdetails {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.uploaddetails {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.uploadcontroller {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.uploadname {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 11px;
  width: 100%;
}