.avatarIcon {
  position: relative;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.aug20231030am,
.jack {
  margin: 0;
  position: relative;
  line-height: 100%;
}

.jack {
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}

.aug20231030am {
  flex: 1;
  font-size: var(--font-size-xs);
  color: var(--gray-3);
}

.userdetails {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.theProblemIm {
  margin: 0;
  word-wrap: break-word;
  word-break: break-all;

}

.groupIcon {
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 0;
}

.groupIcon1 {
  position: absolute;
  margin: 0 !important;
  height: 28.4%;
  width: 28.41%;
  top: 12.3%;
  right: 54.32%;
  bottom: 59.29%;
  left: 17.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}

.icon {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 8.33px;
}

.imageName {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}

.row {
  width: 147.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}

.download11 {
  position: relative;
  width: 20px;
  height: 20px;
}
.attachmentContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
  gap: 0.75rem;
}
.attachment {
  border-radius: var(--br-9xs);
  background-color: var(--background);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  color: var(--high-emphasis);
  border: 1px solid var(--background);
}
.attachment:hover {
  border: 1px solid #efefef
}

.paragraph {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--text-sm-medium-size);
  color: var(--color-gray-300);
}

.reply1 {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
  line-height: 100%;
  font-weight: 500;
  cursor: pointer;
  color: var(--gray-500);
  column-gap: 0.45rem;
}
.threadReplies {
  display: flex;
  column-gap: 0.25rem;
  align-items: baseline;
  color: var(--gray-500);
  cursor: pointer;
}
.reply1:hover,
.threadReplies:hover {
  color: var(--gray-700);
}
.reply {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.editChild {
  border-radius: 50%;
  background-color: var(--body);
  width: 5px;
  height: 5px;
}

.edit1 {
  margin: 0;
  position: relative;
  line-height: 100%;
  cursor: pointer;

}

.edit {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.actionButton,
.edit,
.react {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.react {
  justify-content: center;
  gap: 1rem;
  font-size: var(--text-sm-medium-size);
  color: var(--body);
}

.actionButton {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-base);
  color: var(--primary-blue);
}

.inMessage,
.messagebox {
  display: flex;
  align-items: flex-start;
}

.messagebox {
  flex: 1;
  border-radius: var(--br-base) var(--br-base) var(--br-base) 0;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-6xs) 0 var(--padding-5xs);
  gap: var(--gap-base);
}

.inMessage {
  align-self: stretch;
  background-color: var(--white);
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem;
  gap: var(--gap-5xs);
  margin-bottom: 0.6rem;
}

.repliedcontainerChild {
  position: relative;
  width: 12px;
  height: 12px;
}

.repliedToJack {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
}

.repliedcontainer {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.repliedcontainer,
.userName,
.userdetails1 {
  align-self: stretch;
  display: flex;
  gap: var(--gap-9xs);
}

.userdetails1 {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--title);
}

.userName {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.attachment1 {
  border-radius: var(--br-9xs);
  background-color: var(--white);
  width: 233px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  color: var(--high-emphasis);
}

.paragraph1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
  color: var(--gray-700);
}

.reply3 {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 100%;
  font-weight: 500;
}

.actionButton1,
.messagebox1 {
  display: flex;
  gap: var(--gap-base);
}

.actionButton1 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--font-size-base);
}

.messagebox1 {
  flex: 1;
  border-radius: var(--br-base) var(--br-base) var(--br-base) 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-5xs);
}

.inMessage1,
.threads {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}

.inMessage1 {
  background-color: var(--background);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-xs);
  gap: var(--gap-5xs);
  font-size: var(--text-sm-medium-size);
  color: var(--primary-blue);
  border-radius: 6px;
}

.threads {
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--title);
  font-family: var(--text-sm-medium);
}