/*09-12 letest summary page styling starts here*/
.iconsiconArrowLeft {
    width: 25px;
}

.viewFarm {
    color: #fff !important;
    font-family: "Inter", sans-serif !important;
    font-size: clamp(18px, 4.5vw, 20px) !important;
    font-weight: 400 !important;
}


.summaryHeader {
    display: flex;
    align-items: center;
}

.headericon {
    width: 32px;
    text-align: end;
}

.summaryHeader {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background-color: #05A155;

}

.searchBlock {
    background-color: #05A155;
    padding: 0.5rem 1rem 4rem;
    border-radius: 0 0 30px 30px;
}

.allSummaryCardsBlock {
    padding: 0 1rem;
    height: calc(100vh - 180px);
    overflow-y: auto;
    margin-top: -2rem;
}


/* latest summary page stylings ends here 12-09 */

.AddSummarybtn {
    background: #d94841;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 18px;
    z-index: 3 !important;
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    border-radius: 20px !important;
}

.date {
    white-space: nowrap;
    font-weight: 300;
    margin: 0;
    color: #05A155;
    font-size: clamp(14px, 3vw, 16px);
}

.cropTitle {
    white-space: nowrap;
    font-weight: 300;
    margin: 0;
    color: #d94841;
    font-size: clamp(14px, 3vw, 16px);
}


.header,
.optopns {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    align-self: stretch;
    justify-content: space-between;
}

.summaryHeading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.chilliBeingA {
    margin: 0;
    font-size: 14px;
    line-height: 140%;
    color: #000;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.summarycard {
    margin-bottom: 1rem;
    align-self: stretch;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
    gap: 10px;
    text-align: left;

}

/* update summary styles start here */
.updatedSummaryContainer {
    padding: 2rem 1rem 1rem;
}

.updatedSummaryContainer h6 {
    font-size: clamp(14px, 3.5vw, 18px);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #000;
    margin-bottom: 4px;

}

.singleFarmBlock {
    margin-bottom: 1.2rem;
}

.UpdateBtnGrp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
    margin-top: 3rem;
}

.UpdateBtnGrp button {
    padding-block: 10px !important;
    border-radius: 4px !important;
    text-transform: capitalize !important;
    font-size: clamp(16px, 4vw, 20px) !important;
    font-family: "Inter", sans-serif !important;
}

.updateCancelBtn {
    border: 1px solid #d94841 !important;
    color: #d94841 !important;

}

.updatedSaveBtn {
    color: #fff !important;
    background-color: #d94841 !important;

}

/* update summary styles ends here */