.activitycontainer {
  /* padding-top: 1rem; */
}

.viewLogsBtn {
  color: var(--Red, #D94841) !important;
  font-family: 'Inter', sans-serif !important;
  font-size: clamp(12px, 0.72vw, 16px) !important;
  font-weight: 500 !important;
  line-height: 100% !important;
  text-transform: capitalize !important;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}