.assignedBy {
  cursor: pointer;
  align-self: stretch;
  color: #6A7185;
  font-family: 'Inter', sans-serif;
  font-size: clamp(11px, 2.5vw, 12px);
  font-weight: 500;
  line-height: 100%;
  margin: 0;
}

.assignedbycontiner .profile {
  border-radius: 42.64px;
  width: 24.2px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7.106176853179932px;
  box-sizing: border-box;
}

.assignedByName {
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: clamp(12px, 2.5vw, 14px);
  line-height: 100%;
  color: #35353d;
  text-align: left;
  white-space: nowrap;
}

.assignedbycontainer,
.persondetails {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

}

.assignedbycontainer {
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding-block: 1rem;
  border-bottom: 1px solid #E9EDF1;
}