.farms,
.filterBy {
  margin: 0;
  position: relative;
}
.farms {
  line-height: 100%;
}
.farm {
  border-radius: 60px;
  background-color: #35353d;
  width: 93px;
  justify-content: center;
  padding: 8px 16px;
  box-sizing: border-box;
}
.farm,
.farm1,
.group {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.farm1 {
  border-radius: 60px;
  background-color: #d0d5dd;
  width: 93px;
  justify-content: center;
  padding: 8px 16px;
  box-sizing: border-box;
}
.group {
  flex: 1;
  justify-content: flex-start;
  gap: 12px;
  font-size: 14px;
  color: #fff;
}
.search,
.tabs {
  align-self: stretch;
}
.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.search {
  border: 0;
  background-color: transparent;
  font-family: Inter;
  font-weight: 300;
  font-size: 14px;
  color: #000;
}
.filteroptions {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  z-index: 0;
}
.checkbox {
  position: relative;
}
.spicevineGardens {
  cursor: pointer;
  flex: 1;
  position: relative;
}
.container,
.option,
.optionslist {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.option {
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.container,
.optionslist {
  flex-direction: column;
  align-items: flex-start;
}
.optionslist {
  margin: 0;
  padding: 0 0 16px;
  gap: 16px;
}
.container {
  height: 552px;
  overflow-y: auto;
  flex-shrink: 0;
  z-index: 1;
  font-size: 14px;
}
.resetall {
  flex: 1;
}
.bottomsheet,
.buttonsgroup {
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.buttonsgroup {
  margin: 0 !important;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 5px 0 4px rgba(0, 0, 0, 0.25);
  width: 428px;
  flex-direction: row;
  padding: 8px 16px 20px;
  gap: 24px;
  z-index: 2;
}
.bottomsheet {
  align-self: stretch;
  border-radius: 16px 16px 0 0;
  height: 729px;
  flex-direction: column;
  padding: 20px 16px 24px;
  position: relative;
  gap: 16px;
  margin-top: -26px;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Inter;
}
