.dotsThreeOutlineVerticalFi {
  position: relative;
  transform: rotate(90deg);
}

.actions,
.header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header {
  /* background-color: #fff; */
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 16px 8px;
}