.description,
.preparingLandFor {
  align-self: stretch;
  position: relative;
}

.description {
  color: #6A7185;
  font-family: 'Inter', sans-serif;
  font-size: clamp(13px, 2.5vw, 14px);
  font-weight: 500;
  line-height: 100%;
}

.descriptionText {
  margin: 0;
  color: #6A7185;
  font-family: 'Inter', sans-serif;
  font-size: clamp(12px, 2vw, 13px);
  font-weight: 500;
  line-height: 100%;

  line-height: 140%;
  color: #35353d;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.descriptioncontainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  padding-block: 1rem;
  border-bottom: 1px solid #E9EDF1;

}