.description,
.preparingLandFor {
  align-self: stretch;
  position: relative;
}
.description {
  cursor: pointer;
  line-height: 100%;
  font-weight: 500;
}
.preparingLandFor {
  margin: 0;
  font-size: 14px;
  line-height: 140%;
  color: #35353d;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.descriptioncontainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  text-align: left;
  font-size: 12px;
  color: #6a7185;
  font-family: Inter;
}
