.arrowDownBold1Icon {
  width: 21px;
}

.title {
  margin: 0;
  font-size: clamp(18px, 4vw, 20px);
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #fff;
  line-height: 100%;
}

.group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.magnifyingGlass1Icon {
  width: 20px;

}

.search {
  border-radius: 60px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.funnel1Icon {
  width: 16px;

}

.actions,
.filter,
.header,
.row {
  display: flex;
  flex-direction: row;
}

.row {
  padding-bottom: 1rem;
}

.filter {
  border-radius: 60px;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px;
}

.actions,
.header,
.row {
  align-items: center;
}

.actions {
  flex-shrink: 0;
  justify-content: flex-start;
  gap: 16px;
}

.header,
.row {
  align-self: stretch;
  justify-content: space-between;
}

.header {
  background-color: #45a845;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 1rem 1rem 2rem;
}