.iconsiconArrowLeft {
    width: 25px;
}

.viewFarm {
    color: #fff !important;
    font-family: "Inter", sans-serif !important;
    font-size: clamp(20px, 5vw, 24px) !important;
    font-weight: 600 !important;
}


.header {
    display: flex;
    align-items: center;
}

.headericon {
    width: 32px;
    text-align: end;
}

.header {
    flex: 1;
    border-radius: var(--br-11xs);
    background-color: #05A155;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.label {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    line-height: 20px;
    font-weight: 500;
    font-family: inherit;
}

#addCorpsPage {
    padding: 1rem;
}

.selectfarm {
    align-self: stretch;
    transform: rotate(-0.04deg);
    transform-origin: 0 0;
    cursor: pointer;
    z-index: 999;
}

.farmselection {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}

.label1 {
    align-self: stretch;
    position: relative;
    line-height: 20px;
    font-weight: 500;
}

.inputField {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.camera1Icon {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
}

.capture {
    line-height: 24px;
}

.camera {
    position: absolute;
    top: calc(50% - 32.5px);
    left: calc(50% - 26.5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.captureimage,
.uploadimage {
    flex: 1;
    position: relative;
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box;
    height: 80px;
    /* overflow: hidden; */
}

.captureimage {
    border: 1px dashed rgba(160, 81, 72, 0.7);
    cursor: pointer;
}

.uploadimage {
    border: 1px dashed #4a86f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addscoutdetails {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.imagesupload {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 100%;
}

.addscoutdetails {
    flex-direction: column;
}

.image21 {
    width: 24px;
}

.photojpg {
    display: flex;
    column-gap: 0.5rem;
}

.photojpg button {
    padding: 0;
}

.uploadname {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 11px;
    width: 100%;
}

.close41 {
    position: relative;
    width: 12px;
    height: 12px;
    overflow: hidden;
    flex-shrink: 0;
}

.uploadcontroller {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progressbar {
    align-self: stretch;
    position: relative;
    border-radius: 1px;
    background-color: var(--color-mediumseagreen-100);
    height: 3px;
    overflow: hidden;
    flex-shrink: 0;
}

.uploaddetails {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.completed {
    flex: 1;
    position: relative;
    line-height: 100%;
}

.uploadstatus {
    align-self: stretch;
    display: flex;

    align-items: flex-start;
    justify-content: space-between;
    font-size: 12px;
}

.progress,
.progressdetails {
    display: flex;
    justify-content: flex-start;
}

.progressdetails {
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.progress {
    align-items: center;
    gap: 16px;
    margin-bottom: 0.5rem;
    align-self: stretch;
}

.scoutdetails,
.uploadprogress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.uploadprogress {
    width: 100%;
    font-size: clamp(14px, 3.2vw, 16px);
    color: #000;
    margin-bottom: 0.5rem;
}

.uploadItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.scoutdetails {
    border-radius: 8px 8px 0 0;
    padding-bottom: 1rem;
    gap: 16px;
}


.input,
.scoutdetails {
    align-self: stretch;
}

.dropdown,
.submitButton {
    align-self: stretch;
    flex: 1;
}

.back {
    border-radius: 6px !important;
    border: 1px solid #d94841 !important;
    background: #FFF !important;
    box-shadow: 4px 4px 10px 0px #0202460a !important;
    padding: 8px 20px !important;
    color: #d94841 !important;
    font-family: "Inter", sans-serif !important;
    font-size: clamp(14px, 3.5vw, 16px) !important;
    font-weight: 400 !important;
    text-transform: capitalize !important;

}

.submit {
    border-radius: 6px !important;
    border: 1px solid #d94841 !important;
    background: #d94841 !important;
    box-shadow: 4px 4px 10px 0px #0202460d !important;
    color: #FFF !important;
    font-family: "Inter", sans-serif !important;
    font-size: clamp(14px, 3.5vw, 16px) !important;
    font-weight: 400 !important;
    text-transform: capitalize !important;
}

.buttons,
.footeractionbuttons {
    align-self: stretch;
    align-items: flex-start;
}

.buttons {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-gap: 1.5rem;
}


.footeractionbuttons {
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    padding: 0 0 24px;
}

.addscout,
.descriptionblock,
.footeractionbuttons,
.scoutdescription {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.descriptionblock {
    align-self: stretch;
    align-items: flex-start;
    gap: 32px;
}

.addscout,
.scoutdescription {
    align-items: center;
}

.scoutdescription {
    align-self: stretch;
}

.addscout {
    border-radius: 8px;
    box-sizing: border-box;
    text-align: left;
    font-size: 14px;
    color: #344054;
    font-family: "Inter", sans-serif;
    padding: 1rem;
}