.note1Icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}

.taskManagement {
  color: var(--Gray-1, #333);
  font-family: "Inter", sans-serif;
  font-size: clamp(20px, 1.2vw, 24px);
  font-weight: 400;
}

.pagetitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.filter {
  border-radius: 4px !important;
  background: #05A155 !important;
  color: #FFF !important;
  font-family: "Inter", sans-serif !important;
  font-size: clamp(14px, 0.72vw, 16px) !important;
  font-weight: 500;
  padding-block: 5px !important;
}

.filter:hover {
  background: #05A155 !important;
}

.searchbar {
  border: 0;
  background-color: transparent;
}

.headeractions,
.navbarcontainer {
  display: flex;
  align-items: center;
}

.headeractions {
  justify-content: flex-end;
  gap: 16px;
  width: 75%;
}

.navbarcontainer {
  justify-content: space-between;
  font-family: Inter;
  padding-block: 1.5rem;
  width: 100%;
}