.textAreaLg {
    padding: 1rem;
    width: calc(100% - 2rem);
    margin-bottom: 1rem;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0.23);
    font-family: 'Inter', sans-serif;
}
.selectField {
    background-color: #ffffff;
}
.label{
    font-family: "Inter",sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--gray-700);
    margin-block: "4px",
}