.audioContainer audio::-webkit-media-controls-enclosure {
    display: none;
    /* Hide the default audio controls */
}
.addSupportForm {
}
.audioControls .voiceRecording {
    display: flex;
    align-items: center;
    gap: 10px;
}
.recordedAudio {
    display: grid;
    grid-template-columns: auto 20px 90px;
    align-items: center;
    border-radius: 5px;
    background-color: #f1f3f4;
    justify-content: space-between;
    padding-right: 1.5rem;
    margin: 1rem 0;
    gap: 10px;
}