.folderIcon {
  width: 45px;
  height: 45px;
}
.actions {
  display: flex;
  align-items: center;
  gap: var(--gap-9xs);
}
.actions .count{
  padding: 0;
  height: 24px;
  border-radius: 4px;
} 

.actions .icon {
  height: 16px;
  width: 16px;
}
.icons {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.aug2023,
.FieldCrop {
  margin: 0;
}

.FieldCrop {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: clamp(14px, 3.5vw, 16px);
  font-weight: 500;
  line-height: 100%;
}

.aug2023 {
  color: #6A7185;
  font-family: "Inter", sans-serif;
  font-size: clamp(10px, 3vw, 12px);
  font-weight: 400;
  line-height: 100%;
}

.cropcard,
.textWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.cropcard {
  border-radius: var(--br-5xs);
  background: #ffffff;
  padding: 10px;
  gap: var(--gap-xs);
}

#allCropCardBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.filterBox {
  padding: 0.65rem 0.65rem 0rem 0.65rem !important;
  width: calc(100% - 1.3rem);
}
.allCrops {
  height: calc(100vh - 224px);
  overflow: scroll;
  padding: 0 0.65rem;
}

#noData {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.NoDataBlockImage {
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {
  font-family: 'Inter',sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
}

#noData h4 {
  font-size: clamp(16px, 3.25rem, 18px);
  font-weight: 500;
}

.galleryCard {
  padding: 0.5rem;
  border-radius: 0;
  background: #FFF;
  margin-bottom: 2px;
  box-shadow: 0 0 2px 0 #e7e7e7;
}

.galleryCard .postDate {
  font-family: "Inter", sans-serif;
  font-size: clamp(10px, 4vw, 24px);
  font-weight: 600;
  line-height: 1.5;
  color: #2B53BE;
  background: linear-gradient(142deg, #3462CF 0%, #2B53BE 97.71%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.findingsText {
  color: #35353D;
  font-family: "Inter", sans-serif;
  font-size: clamp(10px, 3vw, 12px);
  font-weight: 400;
  line-height: 1.5;
  margin: 10px 0;
}

.scoutingView {
  height: calc(100vh - 190px);
}
.scoutingView nav {
  margin-bottom: 1px;
}

.scoutingView a {
  color: #6A7185;
  font-family: "Inter", sans-serif;
  font-size: clamp(12px, 1.75vw, 16px);
  font-weight: 500;
}

.scoutingView li p {
  color: #35353D;
  font-family: "Inter", sans-serif;
  font-size: clamp(12px, 1.75vw, 16px);
  font-weight: 600;
}

.sortOptions .subTitle{
  font-family: 'Inter',sans-serif;
  font-size: clamp(14px, 3.5rem, 16px);
  font-weight: 600; 
  column-gap: 0.65rem;
  margin-bottom: 0.5rem;
}
.sortOptions {
  padding: 1rem 0;
}
.sortOptions li {
  display: flex;
  column-gap: 0.5rem;
}
.sortOptions .divider {
  margin: 0.5rem 1rem;
}

#noData {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

#noData h4 {
  font-size: clamp(16px, 3.25rem, 18px);
  font-weight: 500;
}
/* .breadcrumbs a{
  font-size: clamp(12px, 1.75vw, 16px);
} */
.breadcrumbs {
  padding: 0.5rem 0.75rem;
  background-color: var(--background);
  border-bottom: 1px solid var(--stroke);
}
.actionButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem;
  column-gap: 0.5rem;
}
.ctaButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.35rem;
  font-family: 'Inter', sans-serif;
  font-size: clamp(13px, 2vw, 18px);
  font-weight: 500;
  border-radius: 2.5rem;
}