.folderIcon {
  width: 45px;
  height: 45px;
}
.actions {
  display: flex;
  align-items: center;
  gap: var(--gap-9xs);
}
.actions .count{
  padding: 0;
  height: 24px;
  border-radius: 4px;
} 

.actions .icon {
  height: 16px;
  width: 16px;
}
.icons {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.aug2023,
.FieldCrop {
  margin: 0;
}

.FieldCrop {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: clamp(14px, 3.5vw, 16px);
  font-weight: 500;
  line-height: 100%;
}

.aug2023 {
  color: #6A7185;
  font-family: "Inter", sans-serif;
  font-size: clamp(10px, 3vw, 12px);
  font-weight: 400;
  line-height: 100%;
}

.cropcard,
.textWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.cropcard {
  border-radius: var(--br-5xs);
  background: #ffffff;
  padding: 10px;
  gap: var(--gap-xs);
}

#allCropCardBlock {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.myCropsPage {
}
.filterBox {
  padding: 0.65rem 0.65rem 0rem 0.65rem !important;
  width: calc(100% - 1.3rem);
}
.allCrops {
  height: calc(100vh - 224px);
  overflow: scroll;
  padding: 0 0.65rem;
}

#noData {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

#noData h4 {
  font-size: clamp(16px, 3.25rem, 18px);
  font-weight: 500;
}

.galleryCard {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 4px 4px 20px 0px rgba(211, 211, 211, 0.50);
}

.galleryCard p {
  color: #35353D;
  font-family: "Inter", sans-serif;
  font-size: clamp(10px, 3vw, 12px);
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 5px;
}

.scoutingView {
  padding: 1rem;
  padding-top: 0.5rem;
  height: calc(100vh - 190px);
}
.scoutingView nav {
  margin-bottom: 0.5rem;
}

.scoutingView a {
  color: #6A7185;
  font-family: "Inter", sans-serif;
  font-size: clamp(14px, 3.5rem, 16px);
  font-weight: 500;
}

.scoutingView li p {
  color: #4A86F7;
  font-family: "Inter", sans-serif;
  font-size: clamp(14px, 3.5rem, 16px);
  font-weight: 500;
  text-decoration-line: underline;
}

.sortOptions .subTitle{
  font-family: 'Inter',sans-serif;
  font-size: clamp(14px, 3.5rem, 16px);
  font-weight: 600; 
  column-gap: 0.65rem;
  margin-bottom: 0.5rem;
}
.sortOptions {
  padding: 1rem 0;
}
.sortOptions li {
  display: flex;
  column-gap: 0.5rem;
}
.sortOptions .divider {
  margin: 0.5rem 1rem;
}

#noData {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

#noData h4 {
  font-size: clamp(16px, 3.25rem, 18px);
  font-weight: 500;
}