.folderIcon {
  width: 60px;
  height: 60px;
}

.icons {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.aug2023,
.FieldCrop {
  margin: 0;
}

.FieldCrop {
  color: #000;
  font-family: Inter;
  font-size: clamp(12px, 3.5vw, 16px);
  font-weight: 500;
  line-height: 100%;
}

.aug2023 {
  color: #6A7185;
  font-family: Inter;
  font-size: clamp(10px, 3vw, 12px);
  font-weight: 400;
  line-height: 100%;
}

.cropcard,
.textWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.cropcard {
  border-radius: var(--br-5xs);
  background: #FFFBEC;
  padding: 10px;
  gap: var(--gap-9xs);
  cursor: pointer;
}

#allCropCardBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding-top: 0;
}

.myCropsPage {
  padding: 1rem;
}

#noData {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

#noData h4 {
  font-size: clamp(16px, 3.5rem, 18px);
  margin-top: 1rem;
  font-weight: 500;
}

.galleryCard {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 4px 4px 20px 0px rgba(211, 211, 211, 0.50);
}

.galleryCard p {
  color: #35353D;
  font-family: Inter;
  font-size: clamp(10px, 3vw, 12px);
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 5px;
}

.scoutingView {
  padding: 1rem;
  padding-top: 0.5rem;

}

.scoutingView nav {
  margin-bottom: 0.5rem;
}

.scoutingView a {
  color: #6A7185;
  font-family: Inter;
  font-size: clamp(14px, 3.5rem, 16px);
  font-weight: 500;
}

.scoutingView li p {
  color: #4A86F7;
  font-family: Inter;
  font-size: clamp(14px, 3.5rem, 16px);
  font-weight: 500;
  text-decoration-line: underline;
}