.viewLogsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--neutral-800);
  font-family: var(--text-sm-medium);
  max-width: 800px;
  padding: 2rem 0;
  margin-inline: auto;
  min-height: auto;
}

.scoutDailogImg img {
  height: 100%;
  width: 100%;
  object-fit: contain;

}

.scoutDailogImg {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}

.positionLeftImg {
  position: absolute;
  top: 50%;
  left: 40px;
  background: #000 !important;
}

.positionLeftImg:hover {
  background: #000 !important;
}

.positionRightImg {
  position: absolute;
  top: 50%;
  right: 40px;
  background: #000;
}

.positionRightImg:hover {
  background: #000 !important;
}

.activeImage {
  padding-top: 0px
}

.inactiveImage {
  padding-top: 10px
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-family: 'Inter', sans-serif;
}

.label {
  font-weight: 600;
}

.findingsText {
  padding: 0.5rem 0;
  height: 150px;
  overflow-y: auto;
}

.findingsText::-webkit-scrollbar {
  background: transparent;
  width: 3px;
  height: 3px;
}

.findingsText::-webkit-scrollbar:hover {
  opacity: 1;
}

.findingsText:hover::-webkit-scrollbar-thumb {
  background: rgb(198, 198, 198);
}

.findingsText span {
  text-transform: capitalize;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin-top: 0.25rem;
  display: block;
  text-decoration: underline;
}

.tagNames {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.tagNames p {
  margin: 0.24rem;
}

.cropDetailsBlock {
  padding: 0.5rem;

}

.cropDetailsBlock p {
  word-break: break-word;
}

.tagsLabel {
  height: 25px;
  padding-left: 4px;
  background-color: var(--white);
  margin-right: 10px;
  font-size: 13px;
}