.viewLogsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--neutral-800);
  font-family: var(--text-sm-medium);
  max-width: 800px;
  padding: 2rem 0;
  margin-inline: auto;
  min-height: auto;
}

.scoutDailogImg img {
  height: 100%;
  width: 100%;
  object-fit: contain;

}

.scoutDailogImg {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}

.positionLeftImg {
  position: absolute;
  top: 50%;
  left: 40px;
  background: #fff;
}

.positionRightImg {
  position: absolute;
  top: 50%;
  right: 40px;
  background: #000;
}