.TimelineCardBranch {
    margin-top: 20px;
}
.containerLg {
    position: relative;
}
/* .containerLg:after {
    z-index: 99;
    content: "";
    position: fixed;
    top: 20px;
    height: calc(100vh - 20px) ;
    width: 1px;
    left: calc(50vw - 2.5rem + 70px);
    background-color: #6A7185;
} */
.infiniteScrollComponent{
    padding-top: 0px;
}
.infiniteScrollComponent::-webkit-scrollbar{
    background: transparent;
    width: 5px;
}
.infiniteScrollComponent::-webkit-scrollbar:hover{
    opacity: 1;
}
.infiniteScrollComponent:hover::-webkit-scrollbar-thumb{
    background: rgb(198, 198, 198);
}
.endOfLogs {
    display: block;
    width: 9rem;
    background-color: #ffffff;
    border: 2px solid var(--body);
    padding: 12px;
    border-radius: 16px;
    font-weight: 600;
    z-index: 200;
    font-size: 1rem;
    text-align: center;
    margin: 30px auto;
    border-radius: 1.75rem;
    position: relative;
    left: 12px;
    text-decoration: none;
    color: var(--gray-700);
}
.pageLoader {
    position: fixed;
    right: 20px;
    top: 20px;
}