.iconsiconArrowLeft {
    width: 28px;
    height: 28px;
}

.viewFarm {
    color: #05A155 !important;
    font-family: "Inter", sans-serif !important;
    font-size: clamp(20px, 5vw, 24px) !important;
    font-weight: 600 !important;
}


.header {
    display: flex;
    align-items: center;
}

.headericon {
    width: 32px;
    text-align: end;
}

.header {
    flex: 1;
    border-radius: var(--br-11xs);
    background-color: var(--white);
    border-bottom: 1px solid var(--stroke);
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--green-gradient);
    font-family: var(--text-md-normal);

    position: sticky;
    top: 0%;
    z-index: 3;

}