.iconsiconArrowLeft {
    position: relative;
    width: 28px;
    height: 28px;
    overflow: hidden;
    flex-shrink: 0;
}

.viewFarm {
    color: #05A155;
    font-family: Inter;
    font-size: clamp(20px, 5vw, 24px);
    font-weight: 600;
}



.header {
    display: flex;
    align-items: center;
}

.headericon {
    width: 32px;
    text-align: end;
}

.header {
    flex: 1;
    border-radius: var(--br-11xs);
    background-color: var(--white);
    border-bottom: 1px solid var(--stroke);
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem 1rem 1rem;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--green-gradient);
    font-family: var(--text-md-normal);
}