.footerActionButtons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--gap-xs);
  width: 100%;
}

.footerActionButtons button {
  font-size: var(--font-size-base) !important;
  gap: var(--gap-7xs) !important;
  text-transform: capitalize !important;
  font-size: clamp(14px, .83vw, 16px);
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  border-radius: 8px;
}

.footerActionButtons .cancelBtn {
  border: 1px solid var(--gray-300, #D0D5DD);
  background: var(--White, #FFF);
  box-shadow: none !important;
  color: #000;
}

.submitBtn {
  color: #fff;
  border: 1px solid var(--Blue-Gradient, #3462CF);
  background: var(--Blue-Gradient, linear-gradient(142deg, #3462CF 0%, #2B53BE 97.71%));
  box-shadow: none !important;
}