.label {
  color: #344054;
  font-family: "Inter", sans-serif;
  font-size: clamp(12px, 3.25vw, 14px);
  font-weight: 500;
  line-height: 20px;
}

.inputfarmname p {
  margin: 0;
}

.farmname {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}

.text {
  color: #101828;
  font-family: "Inter", sans-serif;
  font-size: clamp(14px, 3.5vw, 16px);
  font-weight: 500;
  line-height: 18px;
}

.supportingText {
  color: #6A7185;
  font-family: "Inter", sans-serif;
  font-size: clamp(12px, 3.2vw, 14px);
  font-weight: 400;
  line-height: 14px;
}

.locationheading {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-5xs);
}

.button {
  text-transform: capitalize;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: clamp(10px, 3vw, 12px);
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #05A155;
  background: #05A155;
  padding: 3px 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  box-shadow: none;
}

.addlocationbutton {
  display: flex;
  align-items: center;

}

.formfields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  width: 100%;
}

.back {
  border-radius: 6px !important;
  border: 1px solid #D0D5DD !important;
  background: #FFF !important;
  box-shadow: 4px 4px 10px 0px #0202460a !important;
  padding: 8px 20px !important;
  color: #344054 !important;
  font-family: Inter !important;
  font-size: clamp(14px, 3.5vw, 16px) !important;
  font-weight: 400 !important;
  text-transform: capitalize !important;

}

.submit {
  border-radius: 6px !important;
  border: 1px solid #3462CF !important;
  background: linear-gradient(142deg, #3462CF 0%, #2B53BE 97.71%) !important;
  box-shadow: 4px 4px 10px 0px #0202460d !important;
  color: #FFF !important;
  font-family: Inter !important;
  font-size: clamp(14px, 3.5vw, 16px) !important;
  font-weight: 400 !important;
  text-transform: capitalize !important;
}

.addfarmform,
.buttons {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}

.buttons {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 1.5rem;
  margin-top: 1rem;
}

.addfarmform {
  flex-direction: column;
  align-items: center;
}

.addfarmform {
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  align-items: flex-start;
  padding: 1rem;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--text-sm-medium-size);
  color: var(--gray-700);
  font-family: var(--text-sm-medium);
}