.logo {
  display: block;
  width: 100%;
  text-align: center;
}

.apps1Icon,
.logoIcon {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.enableDesktop {
  padding: 3rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.noScreen {

  color: #a05148 !important;
  width: 200px !important;
  font-weight: bold;
}

.logout,
.logout:hover {
  width: 200px !important;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoIcon {
  margin-bottom: 2rem;
}

.apps1Icon {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}

.menuItem {
  text-decoration: none;
}

.inactiveMenuItem {
  border-radius: 5px;
  background-color: none !important;
}

.inactiveMenuItem:hover {
  border-radius: 5px;
  background-color: #2b55b8 !important;
}

.activeMenuItem {
  border-radius: 5px !important;
  background-color: #219654 !important;
}

.activeMenuItem:hover {
  border-radius: 5px !important;
  background-color: #1c7f47 !important;
}

.menuItem.active {
  background-color: #2A51AE;
}

.menuItem,
.support {
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
}

.support,
.timeline {
  text-decoration: none;
}

.menubar {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap-21xl);
}

.profileChild {
  position: relative;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.profile1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profile {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.sidebarmenu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #45A845;
  border-right: 1px solid var(--stroke);
  box-sizing: border-box;
  width: 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-5xs);
  align-items: center;
  justify-content: space-between;
}

.main {
  margin-left: 5rem;
  background: var(--background, #F5F7FA);
  min-height: 100vh;
  position: relative;
}

.profileBtnGroup {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}