.timeLineContainer {
    position: relative;
}
.timeLineContainer:after {
    z-index: 99;
    content: "";
    position: fixed;
    top: 20px;
    height: calc(100vh - 20px) ;
    width: 1px;
    left: calc(50vw - 2.5rem + 70px);
    background-color: #6A7185;
}
.emptyTimeLineContainer {
    position: relative;
}