.logsDashboardTable {

}

.title {  
  color: var(--Title);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin: 0;
}
.titleFilters {
  display: grid;
  grid-template-columns: 1fr 300px 120px;
  align-items: center;
  margin: 1rem 0 0.65rem;
  column-gap: 1rem;
}