
.header {
    display: flex;
    align-items: center;
}
.headericon {
    width: 32px;
    text-align: end;
}

.viewFarm {
    color: #fff !important;
    font-family: "Inter", sans-serif !important;
    font-size: clamp(18px, 3.5vw, 20px) !important;
    font-weight: 500 !important;
}

.addfarmform,
.buttons {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
}

.header {
    background-color: #45A845;
    justify-content: space-between;
    padding: 16px 1rem;
}
.iconsiconArrowLeft {
    width: 25px;
}
.back {
    border-radius: 4px !important;
    border: 1px solid #d94841 !important;
    background: #FFF !important;
    box-shadow: none !important;
    padding: 8px 20px !important;
    color: #d94841 !important;
    font-family: Inter !important;
    font-size: clamp(15px, 3.5vw, 16px) !important;
    font-weight: 400 !important;
    text-transform: capitalize !important;

}
.submit {
    border-radius: 4px !important;
    border: 1px solid #d94841 !important;
    background: #d94841 !important;
    box-shadow: 4px 4px 10px 0px #0202460d !important;
    color: #FFF !important;
    font-family: "Inter", sans-serif !important;
    font-size: clamp(15px, 3.5vw, 16px) !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
}