.iconDiv {
  border-radius: 4px;
  border: 1px solid var(--Stroke, #E9EDF1);
  background: #FFF;
  display: flex;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.farmname {
  margin: 0;
  color: #344054;
  font-family: Inter;
  font-size: clamp(18px, 1vw, 20px);
  font-weight: 500;
  line-height: 20px;
}

.startdate {
  color: #6A7185;
  font-family: Inter;
  font-size: clamp(13px, 0.72vw, 16px);
  font-weight: 400;
  margin: 0;
}

.textwrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
}

.text {
  margin: 0;
  color: #101828;
  font-family: Inter;
  font-size: clamp(15px, 0.83vw, 18px);
  font-weight: 500;
}

.imageIcon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.attachments,
.scoutingdetails {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.attachments,
.scoutingdetails {
  flex-direction: column;
}

.attachments {
  gap: 5px;
}

.scoutingdetails {
  border-radius: 16px;
  box-shadow: 8px 8px 24px rgba(2, 2, 70, 0.05);
  gap: 30px;
  font-size: 24px;
  color: #344054;
  font-family: Inter;
  padding: 1.5rem;
}

.viewScoutingPage {
  width: 50%;
  margin: 0 auto;
  padding-top: 3rem;
}

.gallaryContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.7rem;
}

.viewScoutingHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.viewScoutingHeader h5 {
  margin: 0;
  color: #170F49;
  font-family: Inter;
  font-size: clamp(16px, 1vw, 20px);
  font-weight: 400;
}

.selectedForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2rem;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
}

.formCard {
  border-radius: 10px;
  border: 1px solid #E9EDF1;
  border-right: 4px solid #D94841 !important;
  background: #FFF;
  display: flex;
  padding: 8px 24px 8px 16px;
  align-items: center;
  gap: 16px;
}

.formCard img {
  width: 30px;
  height: 30px;
}

.formDetails h6 {
  margin: 0;
  color: #35353D;
  font-family: Inter;
  font-size: clamp(16px, 0.833vw, 18px);
  font-weight: 500;
}

.formDetails p {
  margin: 0;
  color: #6A7185;
  font-family: Inter;
  font-size: clamp(11px, 0.62vw, 14px);
  font-weight: 500;
  padding-top: 5px;
}