#loginPage {
  background-color: #F6F4FF;
  background: radial-gradient(221.47% 64.72% at 35.43% 53.77%, #FFF 0%, #F7F7F7 39.58%, #F6F4FF 51.56%, #F8F7FC 63.6%, #F9F9F9 75.52%, #FFF 98.44%);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  margin: -2rem 0 2rem;
  height: 100px;
  width: 150px;
}