.duedate {
  margin: 0;
  position: relative;
  line-height: 100%;
}
.date {
  justify-content: flex-start;
}
.date,
.datestatus,
.status {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.status {
  border-radius: 30px;
  background-color: #c19de1;
  justify-content: center;
  padding: 0.25rem 0.63rem;
  font-size: 0.75rem;
  color: #fff;
}
.datestatus {
  align-self: stretch;
  justify-content: space-between;
}
.fertilizersAndSoil,
.p {
  margin: 0;
  position: relative;
}
.fertilizersAndSoil {
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.p {
  line-height: 80%;
  font-weight: 500;
}
.requiredmaterialscount {
  border-radius: 30px;
  background-color: #6a7185;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.44rem;
  font-size: 0.75rem;
  color: #fff;
}
.farmname,
.title {
  align-self: stretch;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.farmname {
  margin: 0;
  position: relative;
  line-height: 100%;
}
.column,
.prioritycontainer {
  display: flex;
  justify-content: flex-start;
}
.prioritycontainer {
  border-radius: 2px;
  background-color: #f2a84c;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  color: #fff;
}
.column {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}
.profile {
  width: 2.5rem;
  border-radius: 70.53px;
  background-image: url(/profile@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.88rem;
  color: #6a7185;
}
.container {
  gap: 0.75rem;
  font-size: 1rem;
  color: #35353d;
}
.container,
.detailscontainer,
.procurementcard {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.detailscontainer {
  padding: 0 0.75rem;
  gap: 0.75rem;
}
.procurementcard {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 0.75rem 0;
  text-align: left;
  font-size: 0.88rem;
  color: #6a7185;
  font-family: Inter;
  margin-top: 10px;
}
.allProcurementContainer{
  height: calc(100vh - 250px);
    padding: 1rem;
    overflow-y: auto;
    
}
