.AddFarmBtn {
  background: #D94841;
  color: #ffffff;
  padding: 10px 12px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  border-radius: 20px !important;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.AddFarmBtn img {
  margin-right: 3px;
}

#dashboardPage {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}