.dashboard {
  color: #A05148 !important;
  font-family: Inter !important;
  font-size: clamp(20px, 5.5vw, 24px) !important;
  font-weight: 600 !important;
  line-height: normal !important;
}


.srisailam {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: clamp(10px, 3vw, 14px);
  font-style: normal;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 3px;
  width: 100%;
}




.dashboardheading,
.selectlocation {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}


.dashboardheading {
  justify-content: space-between;
  width: 100%;
}

.searchfarm {
  border: 0;
  background-color: transparent;
  flex: 1;
}

.dashboardheader,
.searchbyfarmname {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.dashboardheader {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: left;
  color: var(--brown);
  font-family: var(--text-sm-normal);
  background-color: #fff;
  padding: 2rem 1rem 1rem 1rem;
}