.aug2023 {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 100%;
  opacity: 0.6;
}
.duration,
.farm1 {
  align-self: stretch;
}
.duration {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.farm1 {
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.02em;
  line-height: 100%;
  font-weight: 500;
  color: var(--brown);
}
.farmdetails {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-5xs);
}
.acres {
  flex: 1;
  position: relative;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
}
.area {
  align-self: stretch;
}
.area,
.farmarea {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.buttonIcon {
  position: relative;
  width: 16.67px;
  height: 16.67px;
}
.farmareablock,
.viewfarm {
  display: flex;
  flex-direction: row;
}
.viewfarm {
  border-radius: var(--br-41xl);
  background-color: var(--background);
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  padding: 16.3799991607666px;
  box-sizing: border-box;
}
.farmareablock {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--text-sm-normal-size);
  color: var(--color-dimgray);
}
.farm,
.farmcard {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.farm {
  justify-content: flex-end;
  gap: var(--gap-base);
}
.farmcard {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightsteelblue-100);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-base);
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--title);
  font-family: var(--text-sm-normal);
}
