.aug2023 {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 100%;
  opacity: 0.6;
}

.duration,
.farm1 {
  align-self: stretch;
}

.duration {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.farm1 {
  color: #A05148;
  font-family: Inter;
  font-size: clamp(20px, 5vw, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 24px */
  letter-spacing: -0.48px;
}

.farmdetails {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-5xs);
}

.acres {
  flex: 1;
  position: relative;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
}

.area {
  align-self: stretch;
}

.area,
.farmarea {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

/* .buttonIcon {
  position: relative;
  width: 16.67px;
  height: 16.67px;
} */

.farmareablock,
.viewfarm {
  display: flex;
  flex-direction: row;
}

.viewfarm {
  border-radius: 50%;
  background-color: var(--background);
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  padding: 16.3799991607666px;
  box-sizing: border-box;
}

.viewfarm img {
  width: 16px;
  height: 20px;
}

.farmareablock {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--text-sm-normal-size);
  color: var(--color-dimgray);
}

.farm,
.farmcard {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.farm {
  justify-content: flex-end;
  gap: var(--gap-base);
}

.farmcard {
  border-radius: 8px;
  border: 1px solid rgba(180, 193, 214, 0.50);
  background: #FFF;
  justify-content: flex-start;
  padding: var(--padding-base);
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--title);
  font-family: var(--text-sm-normal);
  min-height: 100px;
}

.allFormsBlock {
  margin-top: 1rem;
  padding: 1rem;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  height: 75vh;
  overflow-y: scroll;
}