.dates {
  flex: 1;
  position: relative;
  letter-spacing: -0.5px;
  line-height: 100%;
  opacity: 0.6;
}

.locationArea {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 100%;
  opacity: 0.6;
}

.location {
  min-height: 10px;
}

.duration,
.farm1 {
  align-self: stretch;
}

.duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.count {

  position: absolute;
  right: 0;
  top: 1px;
  padding: 5px;
  border-radius: 0px 12.8px 0px 12.8px;
  background: #E6F5EB;
  box-shadow: 1.339px 1.339px 10.044px 0px #ffffff1a;
}

.farm1 {
  color: #A05148;
  font-family: "Inter", sans-serif;
  font-size: clamp(15px, 3.5vw, 18px);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.25px;
}

.farmdetails {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--br-9xs);
}

.acres {
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  color: #4F4F4F;
  font-size: clamp(10px, 3vw, 14px);
  /* white-space: nowrap; */
}

.area {
  align-self: stretch;
}

.area,
.farmarea {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

/* .buttonIcon {
  position: relative;
  width: 16.67px;
  height: 16.67px;
} */

.farmareablock,
.viewfarm {
  display: flex;
  flex-direction: row;
}

.viewfarm {
  border-radius: 50%;
  background-color: var(--background);
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 32px;
  width: 32px;
  line-height: 1;
  box-sizing: border-box;
}

.farmareablock {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--text-sm-normal-size);
  color: var(--color-dimgray);
}

.farm,
.farmcard {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.farm {
  justify-content: flex-end;
  gap: 1.5rem;
}

.farmcard {
  border-radius: 12px;
  background: #FFF;
  box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.136);
  justify-content: flex-start;
  padding: 1rem;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--title);
  font-family: var(--text-sm-normal);
  position: relative;
}

.allFormsBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.2rem;
}

.allForms {
  height: calc(100vh - 200px);
  overflow: scroll;
  padding: 1rem;
  padding-top: 0;
  margin-top: -1.5rem;
}

.farmsViewMoreBtn {
  border-radius: 20px !important;
  text-transform: capitalize !important;
  font-family: "Inter", sans-serif !important;
  color: #2E58C4 !important;
  border: 1px solid #2e58c4 !important;
  font-size: clamp(12px, 3.5vw, 16px) !important;
  margin-top: 1rem !important;
  min-width: inherit !important;
  padding: 5px 15px !important;
}